# ignore everything
/*

# except these directories
!/.config
/.config/configstore
/.config/github-copilot
/.config/jgit
/.config/karabiner
/.config/op
/.config/raycast
!/notes
!/.1password

# except these files
!.asdfrc
!.zshrc
!.gitignore
!.gitconfig
!.ideavimrc
!README.md

