" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc
set scrolloff=5
set incsearch
set relativenumber
set idearefactormore=keep
set quickscope
set surround
set NERDTree
let g:NERDTreeMapActivateNode='l'
let g:NERDTreeMapJumpToParent='h'

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins
" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'
" Sneak (search by 2 letters)
Plug 'justinmk/vim-sneak'
" Surround (edited " { [ ( easily)
Plug 'tpope/vim-surround'

" set <leader> to <space>
let mapleader = " "

imap jj <Esc>

map <C-d> <C-d>zz
map <C-u> <C-u>zz
map n nzzzv
map N Nzzzv
vnoremap p "_dP

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
nmap <leader>rf <Action>(ReformatCode)
nmap <leader>sp <Action>(com.github.lipiridi.spotless.applier.actions.ReformatFileAction)
nmap <leader>rn <Action>(RenameElement)
nmap <leader>oi <Action>(OptimizeImports)
nmap <leader>R  <Action>(Refactorings.QuickListPopupAction)
nmap <leader>dd <Action>(Debug)
nmap <leader>rr <Action>(Run)
nmap <leader>bb <Action>(ToggleLineBreakpoint)
nmap <leader>ff <Action>(GotoFile)
nmap <leader>fs <Action>(FindInPath)
nmap <leader>g <Action>(Git.Menu)
nmap <leader>er <Action>(ShowErrorDescription)
nmap <leader>im <Action>(GotoImplementation)
nmap <leader>b <Action>(GotoDeclaration)
nmap <leader>t <Action>(Scala.TypeInfo)
