" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc
set scrolloff=5
set incsearch
set relativenumber
set idearefactormore=keep

" ui to show key mapping
set which-key
set notimeout

set mini-ai

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins
" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'
" Sneak (search by 2 letters)
Plug 'justinmk/vim-sneak'
Plug 'tpope/vim-surround'
Plug 'preservim/nerdtree'


" set <leader> to <space>
let mapleader = " "

imap jj <Esc>

map <C-d> <C-d>zz
map <C-u> <C-u>zz
map n nzzzv
map N Nzzzv
vnoremap p "_dP


nmap <leader>e :NERDTreeToggle<CR>
" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
nmap <leader>cf <Action>(ReformatCode)
nmap <leader>cF <Action>(com.github.lipiridi.spotless.applier.actions.ReformatFileAction)
nmap <leader>ci <Action>(OptimizeImports)

nmap rn <Action>(RenameElement)
nmap rR <Action>(Refactorings.QuickListPopupAction)

nmap ge <Action>(ShowErrorDescription)
nmap gI <Action>(GotoImplementation)
nmap gD <Action>(GotoDeclaration)
nmap gt <Action>(Scala.TypeInfo)
nmap gT <Action>(GotoTest)

nmap <leader>dd <Action>(Debug)
nmap <leader>rr <Action>(Run)
nmap <leader>bb <Action>(ToggleLineBreakpoint)

nmap <leader>ff <Action>(GotoFile)
nmap <leader>fs <Action>(FindInPath)

nmap <leader>gg <Action>(Git.Menu)

nma <leader>ww <Action>(CloseContent)
nmap <leader>ws <Action>(SplitHorizontally)
nmap <leader>wv <Action>(SplitVertically)
nmap <TAB> <Action>(NextTab)
nmap <s-TAB> <Action>(PreviousTab)
