# You can use it to add commands that run after AeroSpace startup.
# 'after-startup-command' is run after 'after-login-command'
# Available commands : https://nikitabobko.github.io/AeroSpace/commands
after-startup-command = ['exec-and-forget borders active_color=0xffe1e3e4 inactive_color=0xff494d64 width=5.0']

# Start AeroSpace at login
start-at-login = true

# Normalizations. See: https://nikitabobko.github.io/AeroSpace/guide#normalization
enable-normalization-flatten-containers = true
enable-normalization-opposite-orientation-for-nested-containers = true

# See: https://nikitabobko.github.io/AeroSpace/guide#layouts
# The 'accordion-padding' specifies the size of accordion padding
# You can set 0 to disable the padding feature
accordion-padding = 300

# Possible values: tiles|accordion
default-root-container-layout = 'tiles'

# Possible values: horizontal|vertical|auto
# 'auto' means: wide monitor (anything wider than high) gets horizontal orientation,
#               tall monitor (anything higher than wide) gets vertical orientation
default-root-container-orientation = 'auto'

# Mouse follows focus when focused monitor changes
# Drop it from your config, if you don't like this behavior
# See https://nikitabobko.github.io/AeroSpace/guide#on-focus-changed-callbacks
# See https://nikitabobko.github.io/AeroSpace/commands#move-mouse
# Fallback value (if you omit the key): on-focused-monitor-changed = []
on-focused-monitor-changed = ['move-mouse monitor-lazy-center']

# You can effectively turn off macOS "Hide application" (cmd-h) feature by toggling this flag
# Useful if you don't use this macOS feature, but accidentally hit cmd-h or cmd-alt-h key
# Also see: https://nikitabobko.github.io/AeroSpace/goodies#disable-hide-app
automatically-unhide-macos-hidden-apps = false

[[on-window-detected]]
if.app-name-regex-substring = 'finder'
run = 'layout floating'


# Possible values: (qwerty|dvorak)
# See https://nikitabobko.github.io/AeroSpace/guide#key-mapping
[key-mapping]
preset = 'qwerty'

# Gaps between windows (inner-*) and between monitor edges (outer-*).
# Possible values:
# - Constant:     gaps.outer.top = 8
# - Per monitor:  gaps.outer.top = [{ monitor.main = 16 }, { monitor."some-pattern" = 32 }, 24]
#                 In this example, 24 is a default value when there is no match.
#                 Monitor pattern is the same as for 'workspace-to-monitor-force-assignment'.
#                 See: https://nikitabobko.github.io/AeroSpace/guide#assign-workspaces-to-monitors
[gaps]
inner.horizontal = 10
inner.vertical =   10
outer.left =       10
outer.bottom =     10
outer.top =        10
outer.right =      10

# All possible keys:
# - Letters.        a, b, c, ..., z
# - Numbers.        0, 1, 2, ..., 9
# - Keypad numbers. keypad0, keypad1, keypad2, ..., keypad9
# - F-keys.         f1, f2, ..., f20
# - Special keys.   minus, equal, period, comma, slash, backslash, quote, semicolon, backtick,
#                   leftSquareBracket, rightSquareBracket, space, enter, esc, backspace, tab
# - Keypad special. keypadClear, keypadDecimalMark, keypadDivide, keypadEnter, keypadEqual,
#                   keypadMinus, keypadMultiply, keypadPlus
# - Arrows.         left, down, up, right

# All possible modifiers: cmd, alt, ctrl, shift

# All possible commands: https://nikitabobko.github.io/AeroSpace/commands

# See: https://nikitabobko.github.io/AeroSpace/commands#exec-and-forget
# You can uncomment the following lines to open up terminal with alt + enter shortcut (like in i3)
# alt-enter = '''exec-and-forget osascript -e '
# tell application "Terminal"
#     do script
#     activate
# end tell'
# '''

# See: https://nikitabobko.github.io/AeroSpace/guide#binding-modes
[mode.main.binding]
# See: https://nikitabobko.github.io/AeroSpace/commands#workspace
alt-a = 'workspace 1'
alt-s = 'workspace 2'
alt-d = 'workspace 3'

# See: https://nikitabobko.github.io/AeroSpace/commands#move-node-to-workspace
alt-shift-a = 'move-node-to-workspace 1 --focus-follows-window'
alt-shift-s = 'move-node-to-workspace 2 --focus-follows-window'
alt-shift-d = 'move-node-to-workspace 3 --focus-follows-window'

# See: https://nikitabobko.github.io/AeroSpace/commands#mode
alt-b = 'mode window'
alt-r = 'mode resize'
alt-semicolon = 'mode service'
alt-p = 'mode apps'

[mode.window.binding]
# See: https://nikitabobko.github.io/AeroSpace/commands#layout
esc = ['mode main']
q = ['mode main']
space = 'layout tiles horizontal vertical'
# See: https://nikitabobko.github.io/AeroSpace/commands#focus
h = 'focus left'
j = 'focus down'
k = 'focus up'  
l = 'focus right'
tab = 'focus dfs-next --boundaries-action wrap-around-the-workspace'
f = 'fullscreen'
shift-f = 'layout floating'
# See: https://nikitabobko.github.io/AeroSpace/commands#move
shift-h = 'move left'
shift-j = 'move down'
shift-k = 'move up'  
shift-l = 'move right'

[mode.resize.binding]
esc = ['mode main']
q = ['mode main']
# See: https://nikitabobko.github.io/AeroSpace/commands#resize
m = 'resize smart -50'
p = 'resize smart +50'
r = 'flatten-workspace-tree' # reset layout
f = 'layout floating tiling' # Toggle between floating and tiling layout

# See: https://nikitabobko.github.io/AeroSpace/guide#binding-modes
[mode.service.binding]
esc = ['reload-config', 'mode main']
q = ['reload-config', 'mode main']
backspace = ['close-all-windows-but-current', 'mode main']

[mode.apps.binding]
esc = ['mode main']
q = ['mode main']
c = ['exec-and-forget open -a /Applications/Ghostty.app', 'mode main']
b = ['exec-and-forget open -a /Applications/Zen.app', 'mode main']
p = ['exec-and-forget open -a /Applications/1Password.app', 'mode main']

