;; Tutorial https://github.com/yqrashawn/GokuRakuJoudo/blob/master/tutorial.md#command-a-to-control-1
{
 :devices {
           :macbook-keyboard [{:is_built_in_keyboard true}]
           }
 :main, [
         {
          :des "Swap backspace to esc" 
          :rules [
                  [:##delete_or_backspace :escape :macbook-keyboard ]
]
          }
         {
          :des "Swap caps lock to backspace" 
          :rules [
                  [:##caps_lock :delete_or_backspace :macbook-keyboard ]
                  ]
          }
         {
          :des "Arrow keys on MacBook keyboard" 
          :rules [
                  ;; left option + hjkl -> arrow keys
                  [:!T##h :left_arrow :macbook-keyboard]
                  [:!T##j :down_arrow :macbook-keyboard]
                  [:!T##k :up_arrow :macbook-keyboard]
                  [:!T##l :right_arrow :macbook-keyboard]
                  ]
          }
         {
          :des "Super key" 
          :rules [
                  ;; fn -> command + option + shift
                  [:##fn :!SOleft_command :macbook-keyboard]
                  ]
          }
         ]
 }
